#topBanner{
  position: fixed;
  height: 30px;
  width: 100%;
  background: #e0e6ed;
}

#topText{
  position: fixed;
  font-family: Georgia, serif;
  top: 17.5px;
  color: #273444;
  font-size: 10px;
  text-transform: uppercase;
  right: 25px;
}

#bottom{
  background-image: url("https://s3.envato.com/files/3c53ef5b-f3d4-49e0-82bd-376915ff94b6/inline_image_preview.jpg");
  height: 725px;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.blur {
  filter: blur(4px);
}

#hackclubflag{
  
}

#TopLogoLeft{
  position: fixed;
  top: 7px;
  scale: 150%;
  left: -7px;
}

#spacer{
  height: 225px;
}

h1 {
  color: white;
  font-family: "Phantom Sans",Roboto, sans-serif;
  }

text {
  color: white;
  font-family: "Phantom Sans",Roboto, sans-serif;
}

#sidebysidetextboxLeft{
  position: static;
  width: 40%;
  height: 200px;
  background: #ec3750;
  border-radius: 25px;
  border: 6px solid #e0e6ed;
  padding-left: 25px;
  padding-right: 25px;
  overflow: hidden;
  margin-left: 25px;
}

details{
  font-family: "Phantom Sans",Roboto, sans-serif;
  color: white;
}

#faq{
  position: static;
  width: 40%;
  height: 225px;
  background: #ec3750;
  border-radius: 25px;
  border: 6px solid #e0e6ed;
  padding-left: 25px;
  padding-right: 25px;
  overflow: hidden;
  margin-left: 25px;
  margin-top: 25px;
}

#sidebysidetextboxRight{
  width: 100px;
  height: 50px;
  background: #e0e6ed;
  right: 25px;
}

#fullwidthtextblock{
  
}
